doctype html
html
    head
        title CRUD IN NODE USING SQL DATABSE
    body 
    div.header
       h2  API ENDPOINTS
       p ===============================================
    div.get
       h3 GET REQUEST 
       p ---------------------------------------------------------
       p To GET all Employees - GET - /api/employees
       p To GET a Particular Employee  - GET - /api/employees/id  
       
    div.post
       h3 POST REQUEST 
       p ---------------------------------------------------------
       p To INSERT an Employee - POST - /api/employees

    div.put
       h3 PUT REQUEST 
       p ---------------------------------------------------------
       p To UPDATE an Employee - PUT - /api/employees/id

    div.delete
       h3 DELETE REQUEST 
       p ---------------------------------------------------------
       p To DELETE an Employee - DELETE - /api/employees/id
   
       


    
